{{ header }}
<div id="common-home" class="container">
	<div id="content" class="col">

		{{ carousel }}
		<div class="jam-promo-container">
			<div class="jam-promo">
				<img src="image/catalog/assets/pear_on_tree.jpg" class="pear-on-tree"/>
				<img src="image/catalog/assets/pear_jam.jpg" class="pear-jam"/>
				<div class="jam-promo-description">
					<p class="o-nas">O NAS</p>
					<p class="title">Idealny producent przetworów to</p>
					<p class="owner">Spichlerz</p>
					<p class="description">
						Własne produkty sprzedawane w sklepie internetowym to najszybszy sposób na zapewnienie sobie dostawy zdrowych, starannie przygotowanych przetworów owocowych.
					</p>
				</div>
			</div>
		</div>

		<div class="jam-promo-container-mobile">
			<div class="jam-promo-mobile">
				<div class="jam-promo-description-mobile">
					<p class="o-nas">O NAS</p>
					<p class="title">Idealny producent przetworów to</p>
					<p class="owner">Spichlerz</p>
					<p class="description">
						Własne produkty sprzedawane w sklepie internetowym to najszybszy sposób na zapewnienie sobie dostawy zdrowych, starannie przygotowanych przetworów owocowych.
					</p>
				</div>
				<img src="image/catalog/assets/pear_on_tree.jpg" class="pear-on-tree-mobile"/>
				<img src="image/catalog/assets/pear_jam.jpg" class="pear-jam"/>
			</div>
		</div>

		<div class="about-owner">
			<div class="popularity">
				<div class="left">
					<p class="line-1">Dlaczego Spichlerz jest</p>
					<p class="line-2">tak popularni?</p>
					<p class="line-3">Oferowane przez nas wyroby słyną z wyjątkowego aromatu i niezapomnianego smaku. W taki sposób tworzymy markę, która zajmuję solidną pozycję na rynku. Nowoczesna linia produkcyjna daje nam możliwość konkurować na wielkich i wymagających rynkach Unii Europejskiej, z zachowaniem tradycji oraz największej ilości składników odżywczych w naszych wytworach.</p>
				</div>
				<div class="right">
					<p class="line-1">Producent zadbał o to, by były one estetycznie zapakowane, dzięki czemu nadają się również na prezent. Spichlerz to gwarancja najwyższej jakości i smaku w każdej łyżeczce. Wśród różnorodności rodzajów przetworów owocowych, producent wybrał najbardziej popularne, zdrowe i smacznie: konfitury, syropy i cytryny w syropie. Spichlerz oferuje gwarantowaną jakość, na której zawsze można polegać. Dlatego kupując proponowane produkty, nie musisz się niczego obawiać. Z pewnością sprawdzą się one dobrze na niejednym stole, nie tylko codziennym, ale również świątecznym.</p>
					<div class="line-2">
						<a href="/sklep" class="link">
							<div class="content">
								<p class="text">POZNAJ NAS</p>
								<img src="image/catalog/assets/arrow_right.svg"/>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="about-owner-mobile">
			<div class="popularity">
				<div class="left">
					<p class="line-1">Dlaczego Spichlerz jest</p>
					<p class="line-2">tak popularni?</p>
					<p class="line-3">Oferowane przez nas wyroby słyną z wyjątkowego aromatu i niezapomnianego smaku. W taki sposób tworzymy markę, która zajmuję solidną pozycję na rynku. Nowoczesna linia produkcyjna daje nam możliwość konkurować na wielkich i wymagających rynkach Unii Europejskiej, z zachowaniem tradycji oraz największej ilości składników odżywczych w naszych wytworach.</p>
				</div>
				<div class="right">
					<p class="line-1">Producent zadbał o to, by były one estetycznie zapakowane, dzięki czemu nadają się również na prezent. Spichlerz to gwarancja najwyższej jakości i smaku w każdej łyżeczce. Wśród różnorodności rodzajów przetworów owocowych, producent wybrał najbardziej popularne, zdrowe i smacznie: konfitury, syropy i cytryny w syropie. Spichlerz oferuje gwarantowaną jakość, na której zawsze można polegać. Dlatego kupując proponowane produkty, nie musisz się niczego obawiać. Z pewnością sprawdzą się one dobrze na niejednym stole, nie tylko codziennym, ale również świątecznym.</p>
					<div class="line-2">
						<a href="/sklep" class="link">
							<div class="content">
								<p class="text">POZNAJ NAS</p>
								<img src="image/catalog/assets/arrow_right.svg"/>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="advantages">
			<div class="card">
				<img src="image/catalog/assets/natural.svg"/>
				<p class="text">Naturalne produkty</p>
			</div>
			<div class="card">
				<img src="image/catalog/assets/quality_guarantee.svg"/>
				<p class="text">Gwarancja jakości</p>
			</div>
			<div class="card">
				<img src="image/catalog/assets/recepi.svg"/>
				<p class="text">Receptura własna</p>
			</div>
			<div class="card">
				<img src="image/catalog/assets/courier.svg"/>
				<p class="text">Wysyłka w 24h</p>
			</div>
		</div>
	</div>

	{{categories_list}}
<br>
<br>
<br>
	<!-- <div class="products-container-wrapper">
		<div class="header">

			<p class="title">
				POLECANE PRODUCTY
			</p>

			<div class="nav-to">
				<p></p>
			</div>

		</div>

		<div class="main">
			<img src="image/catalog/assets/arrow_left_.svg" class="products-container-control" id="prev-button"/>
			<div id="products-container" class="products-container"></div>
			<img src="image/catalog/assets/arrow_right_.svg" class="products-container-control" id="next-button"/>
		</div>
	</div> -->

	{{ promotion }}

	<div class="products-container-wrapper">
		<div class="header">

			<p class="title">
				POPULARNE PRODUCTY
			</p>

			<div class="nav-to">
				<p></p>
			</div>

		</div>

		<div class="main">
			<img id="prev-promo-button" src="image/catalog/assets/arrow_left_.svg" class="products-container-control" id="prev-button"/>
			<div id="products-container-promo" class="products-container"></div>
			<img id="next-promo-button" src="image/catalog/assets/arrow_right_.svg" class="products-container-control" id="next-button"/>
		</div>
	</div>
	<div class="additional">
		<div class="block">
			<div class="additional-info-title">Konfitury - to nie tylko dżem, to skarb każdej domowej spiżarni</div>
			<div class="additional-info-plot">Jak zamknąć słodycz słonecznych dni w szczelnym słoiczku? Znamy odpowiedź na to pytanie. W tej kategorii znajdziesz godne uwagi pyszne i gęste konfitury z malin, konfitury z wiśni, konfitury z kiwi, konfitury z brzoskwini czy powidło śliwkowe. Dzięki którym, w prosty sposób, będziesz mógł cieszyć się smakiem i witaminami przez cały rok. Prezentujemy także przetwory z dodatkiem korzennych przypraw i alkoholu. Bez wątpienia te ostatnie doskonale sprawdzą się na letnim garden party. Otwórz się na smak przeszłości!</div>
		</div>
		<div class="block">
			<div class="additional-info-title">Tradycyjne specjały - konfitura z Krakowa</div>
			<div class="additional-info-plot">Owocowe przetwory Spichlerz z pewnością rozpromienią każdy pochmurny dzień i umilą wieczory przy filiżance herbaty. Do mięs, do serów lub do herbaty? Nic nie stoi na przeszkodzie, aby wykorzystać konfiturę z kawałkami owoców do smarowania kanapek i naleśników bądź jako dodatek do herbaty, do serów, do mięs, drożdżówek, bułeczek, rogalików, ciast i lodów. Niezależnie od metody podania, domowe bezglutenowe z kiwi, pomarańczy, ananasa czy borówki królują na stole: ich wyjątkowy smak, naturalny kolor i urzekający zapach uwiodą każdego.</div>
		</div>
		<div class="block">
			<div class="additional-info-title">Przetwory owocowe domowej roboty - synonim zdrowia</div>
			<div class="additional-info-plot">Sklepowe produkty nie mogą równać się z samodzielnie przygotowanymi dżemem. Konfitury Spichlerz powstają w oparciu o tradycyjne receptury, które są stosowane z najstarszych rodzinnych przepisów kulinarnych. Producent przetworów owocowych Spichlerz robi wysokiej klasy produkty. Przede wszystkim próżno szukać w nich sztucznych barwników, polepszaczy smaku - są zrobione bez konserwantów. Każdy dżem przygotowywany jest wyłącznie z dojrzałych i starannie wyselekcjonowanych owoców. Dzięki temu przetwory domowej roboty w słoiczkach są przepełnione owocowym aromatem, ale i obfitują w cenne składniki odżywcze. Miłośnicy naturalnej, zdrowej kuchni mogą więc na stałe wprowadzić do swojej diety słodkie powidła śliwkowe, konfiturę z brzoskwini, mango czy z malin. Proponowane specjały zamknięto w szklanych słoiczkach i ozdobiono etykietami. Dzięki nim w domowej spiżarni od razu zrobi się przytulnie.</div>
		</div>
		<div class="block">
			<div class="additional-info-title">Lubisz przetwory domowej roboty? Wypróbuj nowe smaki marki Spichlerz!</div>
			<div class="additional-info-plot">Mamy coś dla wielbicieli kiwi, entuzjastów konfitury pomarańczowej i miłośników dżemu z żurawiny. Proponowane przetwory domowej roboty są wolne od konserwantów i sztucznych barwników. Nie znajdziesz też w nich dużej zawartości cukru - dojrzałe owoce same w sobie są słodkie, więc w konfiturach pełnią role naturalnego konserwantu.</div>
		</div>
	</div>
	<div class="new-product-demo-mobile">
		<img class="image" src="image/catalog/assets/new_product_demo.png"/>
		<div class="description">
			<p class="title">
				Promocja
			</p>
			<p class="main-text">
				Najnowsze
			</p>
			<p class="sub-main-text">
				producty
			</p>
			<p class="sub-text">
				Spróbuj najpierw naturalne konfitury, syropy oraz owoce w syropie
			</p>
			<a href="/sklep">Zobacz produkty
				<img src="image/catalog/assets/arrow_right.svg"/></a>
		</div>
	</div>

	<div class="new-product-demo">
		<img src="image/catalog/assets/new_product_demo.png"/>
		<div class="description">
			<p class="title">
				Promocja
			</p>
			<p class="main-text">
				Najnowsze
			</p>
			<p class="sub-main-text">
				producty
			</p>
			<p class="sub-text">
				Spróbuj najpierw naturalne konfitury, syropy oraz owoce w syropie
			</p>
			<a href="/sklep">Zobacz produkty
				<img src="image/catalog/assets/arrow_right.svg"/></a>
		</div>
	</div>
	{{ footer }}

