<h3>Podstawowe dane</h3>

{% if addresses %}
<div class="form-block">
	<label for="input-address">Adres</label>
	<select name="address[address_id]" id="input-address" data-nice-select>
		<option value="" disabled{{ not shipping_address.address_id ? ' selected'}}> --- Wybierz adres --- </option>
		{% for item in addresses %}
		<option value="{{ item.address_id }}"{{ item.address_id == shipping_address.address_id  ? ' selected'}}>{{ item.city }}, {{ item.address_1 }}</option>
		{% endfor %}
	</select>
</div>
{% endif %}

<div class="df jcsb fww">
	<div class="popup-input w50" data-error="firstname">
		<label for="input-firstname">Imię</label>
		<input type="text" id="input-firstname" name="address[firstname]" value="{{ shipping_address.firstname }}" placeholder="{{ entry_firstname }}">
		<div class="form-error"></div>
	</div>
	<div class="popup-input w50" data-error="lastname" style="margin-left: 18px;">
		<label for="input-lastname">Nazwisko</label>
		<input type="text" id="input-lastname" name="address[lastname]" value="{{shipping_address.lastname }}" placeholder="{{entry_lastname }}">
		<div class="form-error"></div>
	</div>
</div>

<div class="form-block" data-error="address_1">
	<label for="input-address-1">Adres</label>
	<input type="text" id="input-address-1" name="address[address_1]" value="{{shipping_address.address_1}}" placeholder="{{ entry_address_1 }}" />
	<div class="form-error"></div>
</div>

<div class="form-block" data-error="city">
	<label for="input-city">Miasto</label>
	<input type="text" id="input-city" name="address[city]" value="{{shipping_address.city}}" placeholder="{{ entry_city }}" />
	<div class="form-error"></div>
</div>

<div class="form-block" data-error="postcode">
	<label for="input-postcode">Kod pocztowy</label>
	<input type="text" id="input-postcode" name="address[postcode]" value="{{shipping_address.postcode}}" placeholder="{{ entry_postcode }}" />
	<div class="form-error"></div>
</div>

<input type="hidden" name="address[zone_id]" value="0">

<!--
<div class="form-block" data-error="zone">
	<label for="input-zone">Województwo</label>
	<select name="address[zone_id]" id="input-zone" data-nice-select>
		<option value="" disabled{{ not shipping_address.zone_id ? ' selected'}}>--- Wybierz państwo ---</option>
		{% for zone in zones %}
		<option value="{{ zone.zone_id }}"{{ zone.zone_id == shipping_address.zone_id  ? ' selected'}}>{{ zone.name }}</option>
		{% endfor %}
	</select>
	<div class="form-error"></div>
</div>
-->

<div class="form-block" data-error="telephone">
	<label for="input-telephone">Telefon</label>
	<input type="text" id="input-telephone" name="address[telephone]" value="{{shipping_address.telephone}}" placeholder="Telefon">
	<div class="form-error"></div>
</div>

<div class="form-block" data-error="email">
	<label for="input-email">Email</label>
	<input type="text" id="input-email" name="address[email]" value="{{shipping_address.email}}" placeholder="{{ entry_email_address }}" />
	<div class="form-error"></div>
</div> 

<div class="form-block">
	<label for="input-shipping-company">Firma</label>
	<input type="text" id="input-shipping-company" name="address[company]" value="{{shipping_address.company}}" placeholder="{{ entry_company }}" class="form-control" />
</div>

<div class="form-block">
	<label for="input-shipping-nip">NIP</label>
	<input type="text" id="input-shipping-nip" name="address[nip]" value="{{shipping_address.nip}}" placeholder="NIP" class="form-control" />
</div>

<div class="comment-block">
	<h3>Uwagi do zamówienia (opcjonalne)</h3>
	<div class="textarea-wrapper">
		<label for="comment">Uwagi</label>
		<textarea id="comment" name="comment" rows="4" class="form-control">{{ comment }}{{ commenta }}</textarea>
	</div>
</div>

<input type="hidden" name="address[country_id]" value="{{shipping_address.country_id}}">
