{% if reviews %}
	<div class="reviews-list">
		{% for review in reviews %}
			<div class="review-item">
				<div class="review-date">{{ review.date_added }}</div>
				<div class="review-author">{{ review.author }}</div>
				<div class="review-text">{{ review.text }}</div>
				<div class="review-rating">
					{% for i in 1..5 %}
						{% if review.rating < i %}
							{# empty star #}
							<svg width="33" height="15" viewbox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.5 0.618034L7.59607 3.99139C7.72994 4.40341 8.1139 4.68237 8.54713 4.68237H12.0941L9.22453 6.76722C8.87405 7.02186 8.72739 7.47323 8.86126 7.88526L9.95733 11.2586L7.08779 9.17376C6.7373 8.91912 6.2627 8.91912 5.91221 9.17376L3.04267 11.2586L4.13874 7.88525C4.27261 7.47323 4.12595 7.02186 3.77547 6.76722L0.905918 4.68237H4.45287C4.8861 4.68237 5.27006 4.40341 5.40393 3.99139L6.5 0.618034Z" stroke="#C7A992"/>
							</svg>
						{% else %}
							{# filled star #}
							<svg width="33" height="15" viewbox="0 0 13 12" fill="#C7A992" xmlns="http://www.w3.org/2000/svg">
								<path d="M6.5 0.618034L7.59607 3.99139C7.72994 4.40341 8.1139 4.68237 8.54713 4.68237H12.0941L9.22453 6.76722C8.87405 7.02186 8.72739 7.47323 8.86126 7.88526L9.95733 11.2586L7.08779 9.17376C6.7373 8.91912 6.2627 8.91912 5.91221 9.17376L3.04267 11.2586L4.13874 7.88525C4.27261 7.47323 4.12595 7.02186 3.77547 6.76722L0.905918 4.68237H4.45287C4.8861 4.68237 5.27006 4.40341 5.40393 3.99139L6.5 0.618034Z" stroke="#C7A992"/>
							</svg>
						{% endif %}
					{% endfor %}

				</div>
			</div>
      <div class="separator"></div>
		{% endfor %}
	</div>
	<div class="reviews-footer">
		<!--<div class="reviews-pagination">{{ pagination }}</div>-->
		<!--<div class="reviews-results">{{ results }}</div>-->
	</div>
{% else %}
	<p>{{ text_no_reviews }}</p>
{% endif %}
