<head>
	<link href="catalog/view/theme/default/stylesheet/common/breadcrumbs.css" type="text/css" rel="stylesheet"/>
	<link href="catalog/view/theme/default/stylesheet/common/reglament.css" type="text/css" rel="stylesheet"/>
</head>

{{header}}

{% if breadcrumbs %}
	<div class="breadcrumbs">
		{% for breadcrumb in breadcrumbs %}
			<div>
				{% if loop.last %}
					<span class="last">{{ breadcrumb.text }}</span>
				{% else %}
					<a class="link" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
					<span>
						/
					</span>
					<!-- Разделитель -->
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endif %}
<h2>Spichlerz - Tradycyjne jedzenie</h2>
<div class="content">
	<div class="block">
		<h2>§ 1</h2>
		<br>
		<h2>Postanowienia wstępne</h2>
		<p>Sklep internetowy Spichlerz, dostępny pod adresem internetowym spichlerz24.pl., prowadzony jest przez Rymar Sp. Z o.o. z siedzibą w Krakowie wpisanego do Krajowego Rejestru Sądowego przez Sąd Rejonowy w/dla Krakowa Ś ródmieścia w Krakowie, XI Wydział Gospodarczy KRS pod numerem KRS 667282, o kapitale zakładowym 5000 zł, NIP 6783166397, REGON 366740199</p>
		<br>
		<p>Niniejszy Regulamin skierowany jest zarówno do Konsumentów, jak i do Przedsiębiorców korzystających ze Sklepu i określa zasady korzystania ze Sklepu internetowego oraz zasady i tryb zawierania Umów Sprzedaży z Klientem na odległość za pośrednictwem Sklepu.</p>
	</div>
	<div class="block">
		<h2>§ 2</h2>
		<br>
		<h2>Definicje</h2>
		<p>
			<strong>Konsument</strong>
			– osoba fizyczna zawierająca ze Sprzedawcą umowę w ramach Sklepu, której przedmiot nie jest związany bezpośrednio z jej działalnością gospodarczą lub zawodową.</p>
		<br>
		<p>
			<strong>Sprzedawca</strong>
			– Rymar Sp. Z o.o. z siedzibą w Krakowie wpisanego do Krajowego Rejestru Sądowego przez Sąd Rejonowy w/dla Krakowa Śródmieścia w Krakowie, XI Wydział Gospodarczy KRS pod numerem KRS 667282, o kapitale zakładowym 5000 zł, NIP 6783166397, REGON 366740199.</p>
		<br>
		<p>
			<strong>Klient</strong>
			– każdy podmiot dokonujący zakupów za pośrednictwem Sklepu.</p>
		<br>
		<p>
			<strong>Przedsiębiorca</strong>
			– osoba fizyczna, osoba prawna i jednostka organizacyjna niebędąca osobą prawną, której odrębna ustawa przyznaje zdolność prawną, wykonująca we własnym imieniu działalność gospodarczą, która korzysta ze Sklepu.</p>
		<br>
		<p>
			<strong>Sklep</strong>
			– sklep internetowy prowadzony przez Sprzedawcę pod adresem internetowym spichlerz24.pl.</p>
		<br>
		<p>
			<strong>Umowa zawarta na odległość</strong>
			– umowa zawarta z Klientem w ramach zorganizowanego systemu zawierania umów na odległość (w ramach Sklepu), bez jednoczesnej fizycznej obecności stron, z wyłącznym wykorzystaniem jednego lub większej liczby środków porozumiewania się na odległość do chwili zawarcia umowy włącznie.</p>
		<br>
		<p>
			<strong>Regulamin</strong>
			– niniejszy regulamin Sklepu.</p>
		<br>
		<p>
			<strong>Zamówienie</strong>
			– oświadczenie woli Klienta składane za pomocą Formularza Zamówienia i zmierzające bezpośrednio do zawarcia Umowy Sprzedaży Produktu lub Produktów ze Sprzedawcą.</p>
		<br>
		<p>
			<strong>Konto</strong>
			– konto klienta w Sklepie, są w nim gromadzone dane podane przez Klienta oraz informacje o złożonych przez niego Zamówieniach w Sklepie.</p>
		<br>
		<p>
			<strong>Formularz rejestracji</strong>
			– formularz dostępny w Sklepie, umożliwiający utworzenie Konta.</p>
		<br>
		<p>
			<strong>Formularz zamówienia</strong>
			– interaktywny formularz dostępny w Sklepie umożliwiający złożenie Zamówienia, w szczególności poprzez dodanie Produktów do Koszyka oraz określenie warunków Umowy Sprzedaży, w tym sposobu dostawy i płatności.</p>
		<br>
		<p>
			<strong>Koszyk</strong>
			– element oprogramowania Sklepu, w którym widoczne są wybrane przez Klienta Produkty do zakupu, a także istnieje możliwość ustalenia i modyfikacji danych Zamówienia, w szczególności ilości produktów.</p>
		<br>
		<p>
			<strong>Produkt</strong>
			– dostępna w Sklepie rzecz ruchoma/usługa będąca przedmiotem Umowy Sprzedaży między Klientem a Sprzedawcą.</p>
		<br>
		<p>
			<strong>Umowa Sprzedaży</strong>
			– umowa sprzedaży Produktu zawierana albo zawarta między Klientem a Sprzedawcą za pośrednictwem Sklepu internetowego. Przez Umowę Sprzedaży rozumie się też – stosowanie do cech Produktu – umowę o świadczenie usług i umowę o dzieło.</p>
	</div>
	<div class="block">
		<h2>§ 3</h2>
		<br>
		<h2>Kontakt ze Sklepem</h2>
		<br>
		<p>Adres Sprzedawcy: Kraków, Blokowa 2.</p>
		<br>
		<p>Adres e-mail Sprzedawcy: spichlerz24.pl.</p>
		<br>
		<p>Numer telefonu Sprzedawcy: +48 502 879 474</p>
		<br>
		<p>Numer rachunku bankowego Sprzedawcy 78 1140 2004 0000 3602 7673 7337.</p>
		<br>
		<p>Klient może porozumiewać się ze Sprzedawcą za pomocą adresów i numerów telefonów podanych w niniejszym paragrafie.</p>
		<br>
		<p>Klient może porozumieć się telefonicznie ze Sprzedawcą w godzinach od 8:00 do 18:00.</p>
	</div>

</div>
{{footer}}
